@charset "UTF-8";
*,
*::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100%;
  width: 95%;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #f1fdef;
  color: black;
}
body header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
body header a {
  font-size: 48px;
  color: #004d15;
}
body header .überschrift-container {
  margin-left: 10px;
}
body header .überschrift-container h1 {
  font-family: "Playball", sans-serif;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
  color: #004d15;
  text-decoration: underline;
}
body header .überschrift-container p {
  font-family: "Poppins", sans-serif;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
}
body main {
  margin-top: 100px;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: #f6edd9;
}
body main form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
body main form .inputGroup {
  font-family: "Segoe UI", sans-serif;
  margin: 1em 0 1em 0;
  max-width: 190px;
  position: relative;
}
body main form .inputGroup input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}
body main form .inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}
body main form .inputGroup :is(input:focus, input:valid) ~ label {
  transform: translateY(-50%) scale(0.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: #f6edd9;
}
body main form .inputGroup :is(input:focus, input:valid) {
  border-color: #779a75;
}
body main form input {
  margin-bottom: 20px;
}
body main form input:focus {
  outline-color: #779a75;
}
body main form .textarea-container {
  display: flex;
  flex-direction: column;
}
body main form .textarea-container textarea {
  border: 2px solid rgb(200, 200, 200);
  border-radius: 25px;
}
body main form .textarea-container textarea::-moz-placeholder {
  padding-left: 15px;
}
body main form .textarea-container textarea::placeholder {
  padding-left: 15px;
}
body main form .textarea-container textarea:focus {
  outline-color: #779a75;
}
body main form button {
  margin-top: 20px;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
body main form button:hover {
  background-color: #779a75;
  box-shadow: 0px 15px 20px rgba(94, 141, 122, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
body main form button:active {
  transform: translateY(-1px);
}
body main section {
  margin-top: 50px;
}

.shadow {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(190, 190, 190), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}/*# sourceMappingURL=contact.css.map */