*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}

body {
    background-color: #779a75;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}